
/* Main Div */
#wrapper {
	position: fixed;
    top: 0;
    left: 0;
}

/* Canvas with the game */
#board {
    position: absolute;
    z-index: 0;
}


/* Basic commands */
#commands {
	position: fixed;
	z-index: 1;
	left: 1%;
	top: 1%;
	text-align: center;
}

/* Advanced controls */
#panel {
	position: fixed;
	z-index: 2;

	padding: 50px 50px;

	width: 600px;
	height: 400px;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -200px;

 }

.control {
	padding: 10px 10px;
	color: #ffffff;
	border: 0px solid black;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
	box-shadow:5px 5px 5px rgba(0, 0, 0, 0.4);

}

.ocult	{
	display: none;
}

#panel input[type=range] { 
	vertical-align:top; 
}
